<center>
  <form method="POST" action = "/">
    {% if number %}
     <p style="color: red;">The factorial value of {{ number }}! is {{factorial}}.</p>
    {% endif %}
    <!-- ref: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_number -->
    <!-- ref: https://stackabuse.com/asynchronous-tasks-using-flask-redis-and-celery/ -->
    
    <!--  <label for="number"> - specifies the id of the form element the label should be bound to -->
    <label for="number">Enter a Whole Number:</label>
    <input type="number" id="number" name="input_number"  min="0">

    <input type="submit">
  </form>
</center>